*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: grid;
  height: 100vh;
}

.container{
  margin: auto;
  text-align: center;
}

table{
  background-color: black;
  height: 27em;
  width: 20em;
  border-radius: 1em;
  margin: 1em;
}

td{
  border: none;
}

input{
  border: none;
  padding: 2em;
  border-radius: 3em;
}